* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    height: 100vh;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.header, footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

ul.right-links {
    padding: 0;
    margin: 0 15px 0 0;
    display: flex;
    list-style: none;
    gap: 8px;
}

.container {
    background-color: #1f2937;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 0 20px 30px 20px;
    flex: 1;
    flex-wrap: wrap;
}

.container-sub {
    max-width: 500px;
}

.container h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.container p {
    color: #f9faf8;
    margin-bottom: 10px;
}

.butto {
    background-color: #2882f6;
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 480px){
  .container img {
    width: 90vw;
    height: auto;
    object-fit: cover;
  } 

  .blockquote {
    width: 100%;
  }

  blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
  }

  /* .right {
    width: ;
    display: block;
    margin-left: auto;
  } */
}

.container img {
    max-width: 600px;
    height: 400px;
    object-fit: cover;
}

.container .imgdiv {
    display: flex;
}

.second h2 {
    text-align: center;
    margin-bottom: 40px;
}

.second img{
    width: 300px;
    height: 300px;
    border: 2px blue solid;
    object-fit: cover;
    border-radius: 7px;
}

.second div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 16px;
}

.second div div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.blockquote {
    background-color: #e5e7eb;
    padding: 30px;
}

blockquote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin: 0 0 15px 0;
}

strong {
    font-size: 24px;
    color: #1f2937;  
}

.bold {
    font-weight: bold;
}

.right {
    display: flex;
    justify-content: end;
}

.cta {
    padding: 50px 40px;
}

.cta .button {
    background-color: #2882f6;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 35px 30px;
    border-radius: 10px;
    flex: 1;
    flex-wrap: wrap;
    gap: 12px;
}

.cta-info {
    line-height: 1;
}

.cta-info h3, p {
    color: #f9faf8;
    margin: 0;
}

.cta-info h3 {
    padding-bottom: 5px;
}

.butto2 {
    height: max-content;
    color: #f9faf8;
    border-color: #f9faf8;
    border-style: solid;
    background-color: #2882f6;
    padding: 5px 12px;
    align-self: center;
    border-radius: 8px;
    text-decoration: none;
}

.butto2:hover, .butto:hover {
    color: burlywood;
}

.butto2:active, .butto:active {
    color: black;
}

.footer {
    display: flex;
    height: 75px;
    text-align: center;
    justify-content: center;
    padding: 30px 0;
}